@mixin custom-button($background,
    $border,
    $color: color-contrast($background),
    $hover-background: if($color ==$color-contrast-light, shade-color($background, $btn-hover-bg-shade-amount), tint-color($background, $btn-hover-bg-tint-amount)),
    $hover-border: if($color ==$color-contrast-light, shade-color($border, $btn-hover-border-shade-amount), tint-color($border, $btn-hover-border-tint-amount)),
    $hover-color: color-contrast($hover-background),
    $active-background: if($color ==$color-contrast-light, shade-color($background, $btn-active-bg-shade-amount), tint-color($background, $btn-active-bg-tint-amount)),
    $active-border: if($color ==$color-contrast-light, shade-color($border, $btn-active-border-shade-amount), tint-color($border, $btn-active-border-tint-amount)),
    $active-color: color-contrast($active-background),
    $disabled-background: $background,
    $disabled-border: $border,
    $disabled-color: color-contrast($disabled-background),
    $box-shadow: none // Add box-shadow parameter with default value

) {
    --#{$prefix}btn-color: #{$color};
    --#{$prefix}btn-bg: #{$background};
    --#{$prefix}btn-border-color: #{$border};
    --#{$prefix}btn-hover-color: #{$hover-color};
    --#{$prefix}btn-hover-bg: #{$hover-background};
    --#{$prefix}btn-hover-border-color: #{$hover-border};
    --#{$prefix}btn-focus-shadow-rgb: #{to-rgb(mix($color, $border, 15%))};
    --#{$prefix}btn-active-color: #{$active-color};
    --#{$prefix}btn-active-bg: #{$active-background};
    --#{$prefix}btn-active-border-color: #{$active-border};
    --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
    --#{$prefix}btn-disabled-color: #{$disabled-color};
    --#{$prefix}btn-disabled-bg: #{$disabled-background};
    --#{$prefix}btn-disabled-border-color: #{$disabled-border};
    box-shadow: $btn-box-shadow;

    &:hover {
        box-shadow: $btn-hover-box-shadow;
    }

    &:active {
        box-shadow: $btn-active-box-shadow;
    }
}

@mixin edit-button-styles {
    background-color: $white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10), 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
    width: 36px;
    height: 36px;

    &:hover {
        box-shadow: $btn-hover-box-shadow;
    }

    &:active {
        box-shadow: $btn-active-box-shadow;
    }
}

.btn-custom {
    @include custom-button($btn-primary-bg,
        $btn-primary-border-color,
        $btn-primary-color,
        $hover-background: $btn-primary-hover-bg,
        $hover-border: $btn-primary-border-color,
        $hover-color: $btn-primary-color,
        $active-background: $btn-primary-active-bg,
        $active-border: $btn-primary-border-color,
        $active-color: $btn-primary-color );
}

// Link button with custom text styles
.btn-link {
    text-decoration: none;
    color: $btn-primary-bg;
    font-weight: 600;
}