// Body background color
$body-bg: #F9FAFB;

// Theme-colors
$primary: #3F51B5;

$theme-colors: (
    "primary": $primary
);

// Button colors
$btn-primary-bg: #7C3AED;
$btn-primary-hover-bg: #673AB7;
$btn-primary-active-bg: #5E35B1;
$bd-violet: #7C3AED;
$btn-primary-border-color: $btn-primary-bg;
$btn-primary-border: 0;
$btn-primary-color: white;

// Button shadows
$btn-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$btn-hover-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.35);
$btn-active-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.45);