@import "variables";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import "components/header";
@import "components/footer";
@import "components/buttons";
@import "components/cards";


* {
    scroll-behavior: smooth;

}

body {
    font-family: 'Roboto', sans-serif;
    --bs-body-bg: #{$body-bg};
    height: 100vh;

    main {
        padding: 2vh 0;
        position: relative;

        .card {
            display: flex;

        }
    }
}