@import "variables";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "components/header";
@import "components/navbar";
@import "components/footer";
@import "components/buttons";
@import "components/cards";


* {
    scroll-behavior: smooth;

}

body {
    font-family: 'Roboto', sans-serif;
    --bs-body-bg: #{$body-bg};

    main {
        .card {
            display: flex;

        }
    }
}


#form-image-upload {

    .form-control {
        padding-top: 3rem;
        min-height: 5rem;
    }

    .form-label {
        top: 1rem;
    }
}

@media (max-width: 420px) {

    #imageURL {
        min-height: 75px;
    }
}

#commentModal {
    z-index: 999999;
}