@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules//bootstrap-icons/font/bootstrap-icons.min";
@import "components/header";
@import "components/footer";
@import "components/buttons";
@import "components/cards";


* {
    scroll-behavior: smooth;

}

body {
    font-family: 'Roboto', sans-serif;
    --bs-body-bg: #{$body-bg};
    height: 100vh;

    main {
        padding: 2vh 0;
        position: relative;

        .card {
            display: flex;

        }
    }
}